fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
pydantic-settings
pydantic[email]
python-multipart
reportlab
openpyxl
python-docx
psycopg2
asyncpg
httpx
python-socketio
line-bot-sdk
